/*=======================================
          Media Queries Styles
=======================================*/

/*== 1920px Media Queries Styles ==*/

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1260px;
	}
}

/*== 1440px Media Queries Styles ==*/

@media screen and (max-width: 1440px) {
	.container {
		max-width: 90%;
	}

	.navbar {
		padding: 10px 0;
	}

	.jumbotron h1 {
		font-size: 40px;
	}

	.jumbotron h2 {
		font-size: 20px;
	}

	.jumbotron .form-control,
	.jumbotron select {
		margin-bottom: 0;
	}

	.jumbotron span {
		font-size: 26px;
	}

	.jumbotron {
		padding-top: 120px;
		padding-bottom: 60px;
	}

	.services {
		margin-bottom: 60px;
	}

	.theme {
		padding-bottom: 70px;
	}

	.theme .heading {
		font-size: 27px;
		line-height: 40px;
	}

	.theme .box-1 {
		padding-right: 20px;
		padding-bottom: 50px;
	}

	.theme h5 {
		font-size: 24px;
	}

	.theme .col1,
	.theme .col2,
	.theme .col3 {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.theme .col4,
	.theme .col5,
	.theme .col6 {
		padding-top: 40px;
		padding-bottom: 30px;
	}

	.about-home {
		padding-bottom: 50px;
	}

	.about-home .box-1 {
		padding-bottom: 20px;
	}

	.testimonial {
		padding-top: 50px;
	}

	.about-home h3 {
		font-size: 30px;
	}

	.testimonial h4 {
		font-size: 30px;
	}

	.blogs-home {
		padding-bottom: 70px;
	}

	.content_2 {
		margin-right: 80px;
	}

	.subscribe .container .main-content {
		padding: 50px 50px;
	}

	footer {
		padding: 50px 0;
	}
}

/*== 1024px Media Queries Styles ==*/

@media screen and (max-width: 1024px) {
	.navbar .container {
		padding: 0 15px;
	}

	.container {
		max-width: 100%;
	}

	.jumbotron {
		width: 100%;
	}

	.jumbotron h1 {
		font-size: 34px;
	}

	.jumbotron h2 {
		font-size: 17px;
		padding-bottom: 20px;
	}

	.theme .cont .fa {
		padding: 25px 0;
		font-size: 34px;
		width: 80px;
		height: 80px;
	}

	.services .card .card-block p:before {
		font-size: 22px;
		padding: 10px 10px;
	}

	.services .card p {
		font-size: 12px;
		line-height: 20px;
		padding-left: 15px;
	}

	.services {
		padding: 40px 0;
	}

	.jumbotron ::placeholder {
		font-size: 12px;
	}

	.jumbotron :-moz-placeholder {
		font-size: 12px;
	}

	.jumbotron :-ms-input-placeholder {
		font-size: 12px;
	}

	.jumbotron ::-webkit-input-placeholder {
		font-size: 12px;
	}

	.jumbotron select {
		font-size: 12px;
	}

	.jumbotron .form-group {
		margin-bottom: 10px;
	}

	.jumbotron span {
		font-size: 22px;
	}

	.jumbotron .btn-primary {
		width: 280px;
		font-size: 12px;
		letter-spacing: 0.5px;
		height: 42px;
	}

	.theme .heading {
		font-size: 22px;
		line-height: 35px;
	}

	.theme h6 {
		font-size: 12px;
	}

	.theme p {
		font-size: 12px;
		line-height: 25px;
	}

	.theme .cont {
		margin-right: 0;
	}

	.theme .box-1 {
		padding-bottom: 120px;
	}

	.theme {
		padding-bottom: 50px;
	}

	.about-home h3 {
		font-size: 24px;
	}

	.about-home .fa {
		font-size: 39px;
	}

	.about-home .heading {
		font-size: 12px;
	}

	.about-home .main-content p {
		font-size: 12px;
	}

	.testimonial h4 {
		font-size: 24px;
		padding-bottom: 25px;
	}

	.testimonial_2 p {
		font-size: 14px;
		letter-spacing: 0.5px;
	}

	.blogs-home {
		padding: 50px 0;
	}

	.blogs-home .heading {
		font-size: 22px;
	}

	.blogs-home p {
		font-size: 12px;
		line-height: 25px;
	}

	.blogs-home .cont .fa {
		padding: 25px 0;
		font-size: 34px;
		width: 80px;
		height: 80px;
	}

	.blogs-home .cont {
		margin-top: 20px;
		margin-right: 0;
	}

	.blogs-home .blog-list .bottom-details p {
		font-size: 12px;
	}

	.blogs-home .blog-list .bottom-details .post-details {
		padding: 0;
		padding-bottom: 10px;
	}

	.blogs-home .blog-list .bottom-details a {
		padding: 5px 10px;
	}

	.subscribe h2 {
		font-size: 24px;
	}

	.subscribe {
		padding-bottom: 50px;
	}

	footer {
		padding: 30px 0;
	}

	footer ul {
		padding-bottom: 0;
	}

	footer p {
		font-size: 14px;
		padding-bottom: 0;
	}

	footer ul li {
		font-size: 14px;
	}

	footer img {
		width: 20%;
	}

	#about-us {
		padding-top: 30px;
		padding-bottom: 100px;
	}

	#about-us .image {
		width: 100%;
		height: 330px;
		shape-margin: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}

	#about-us p {
		font-size: 12px;
	}

	#about-us h3 {
		font-size: 28px;
		padding-bottom: 25px;
	}

	.portfolio .figure .figure-img {
		margin-bottom: 25px;
		height: 250px;
	}

	.portfolio h5 {
		font-size: 16px;
		padding-bottom: 12px;
	}

	.portfolio h6 {
		font-size: 14px;
		padding-bottom: 20px;
	}

	.portfolio p {
		font-size: 12px;
		letter-spacing: 0.5px;
		line-height: 25px;
		color: #a3a3a3;
		font-weight: 400;
	}

	.portfolio .portfolio-row {
		margin-left: -15px;
		margin-right: -15px;
	}

	.portfolio .portfolio-col {
		padding-left: 15px;
		padding-right: 15px;
	}

	.services .inner-content {
		border: 1px solid #b9b9b9;
		padding: 50px 0;
	}

	.services h3 {
		font-size: 24px;
	}

	.services .image {
		height: 250px;
	}

	.services p {
		font-size: 13px;
		line-height: 25px;
		margin-bottom: 10px;
	}

	.services h2 {
		letter-spacing: 0;
		font-size: 26px;
	}

	.support {
		padding-top: 40px;
		padding-bottom: 100px;
	}

	.support h3 {
		font-size: 26px;
		padding-bottom: 30px;
	}

	.support p {
		font-size: 14px;
	}

	.support .figure img {
		height: 250px;
	}

	.contact-page {
		padding-top: 40px;
		padding-bottom: 100px;
	}

	.contact-page h3 {
		font-size: 26px;
		padding-bottom: 30px;
	}

	.contact-page p {
		font-size: 14px;
	}

	.contact-page .figure img {
		height: 250px;
	}

	.blog-page .blogs-home {
		padding: 50px 0;
	}

	.blog-page .blogs-home .heading {
		font-size: 22px;
	}

	.blog-page .blogs-home p {
		font-size: 12px;
		line-height: 25px;
	}

	.blog-page .blogs-home .cont .fa {
		padding: 25px 0;
		font-size: 34px;
		width: 80px;
		height: 80px;
	}

	.blog-page .blogs-home .cont {
		margin-top: 20px;
		margin-right: 0;
	}

	.blog-page .blogs-home .blog-list .bottom-details p {
		font-size: 12px;
	}

	.blog-page .blogs-home .blog-list .bottom-details .post-details {
		padding: 0;
		padding-bottom: 10px;
	}

	.blog-page .blogs-home .blog-list .bottom-details a {
		padding: 5px 10px;
	}

	.blog-page .blogs-home h2 {
		padding-bottom: 20px;
	}

	.blog-page .blogs-home hr {
		padding-bottom: 30px;
	}

	.blog-page .blogs-home .blog-list .bottom-details .post-details .btn-readmore {
		font-size: 14px;
	}

	.blog-page .blogs-home .more-button {
		padding-top: 40px;
	}

	.blog-page .blogs-home .more-button .btn-primary,
	.blog-page .blogs-home .more-button .btn-secondary {
		padding: 12px 0;
		font-size: 12px;
		width: 150px;
		letter-spacing: 0.5px;
	}

	#blog-single figure .image {
		height: 300px;
	}

	#blog-single .heading4 {
		padding-bottom: 30px;
		font-size: 28px;
	}

	#blog-single .main-heading h2 {
		font-size: 22px;
		line-height: 30px;
	}

	#blog-single p {
		font-size: 14px;
		padding-bottom: 5px;
	}

	#blog-single .spl-pg {
		width: 70%;
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 40px;
	}

	#blog-single .heading3 h2,
	#blog-single .post h2,
	#blog-single .comment-box h2 {
		font-size: 26px;
		padding-bottom: 30px;
	}

	#blog-single .blog-list .bottom-details {
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
		padding: 0;
	}

	#blog-single .blog-list .bottom-details .post-details {
		padding: 0;
		padding-bottom: 10px;
	}

	#blog-single .post .col1 p,
	#blog-single .post .col2 p {
		font-size: 14px;
		line-height: 25px;
	}

	#blog-single .post strong {
		font-size: 21px;
		padding-bottom: 10px;
	}

	#blog-single .main-heading h2 {
		padding-bottom: 20px;
	}

	.inner-contant {
		padding-top: 35px;
		padding-bottom: 20px;
	}

	#blog-single h4 {
		font-size: 14px;
	}

	#blog-single .comment-box {
		padding-top: 20px;
	}

	#blog-single .comment-box form .btn-primary {
		font-size: 14px;
		padding: 12px 40px;
	}

	#blog-single {
		padding-bottom: 50px;
	}

	.subscribe .container .main-content {
		margin: 0;
	}
}

/*== 768px Media Queries Styles ==*/

@media screen and (max-width: 768px) {
	.navbar-dark .navbar-nav .nav-link {
		font-size: 12px;
	}

	.navbar-dark .navbar-nav .hidden {
		font-size: 12px;
		line-height: 25px;
		font-weight: 500;
		padding: 0 10px;
	}

	nav .navbar-brand img {
		width: 70%;
	}

	.navbar {
		padding: 5px 0;
	}

	.jumbotron {
		padding-top: 100px;
		padding-bottom: 40px;
	}

	.jumbotron span {
		font-size: 20px;
	}

	.theme .cont {
		margin-top: 0;
	}

	.theme .box-1 {
		padding-bottom: 20px;
	}

	.theme .box-1 {
		border-right: none;
		padding-right: 0;
	}

	.theme .heading,
	.theme p {
		text-align: center;
	}

	.theme .cont {
		margin-right: 0;
	}

	.content_2 {
		margin-right: 0;
	}

	.about-home .box-1 {
		text-align: center;
		margin-bottom: 20px;
	}

	.about-home {
		padding-top: 50px;
		padding-bottom: 10px;
	}

	.about-home .heading {
		font-size: 14px;
		color: #767676;
	}

	.about-home .fa {
		padding-bottom: 10px;
	}

	.about-home .main-content {
		padding: 25px 25px 10px;
	}

	.testimonial h4 {
		font-size: 22px;
	}

	.testimonial_2 p {
		font-size: 13px;
	}

	.blogs-home .box-1 h2,
	.blogs-home .box-1 p {
		text-align: center;
	}

	.blogs-home p {
		font-size: 13px;
		margin-bottom: 0;
	}

	.blogs-home .box-1 {
		border-right: none;
		padding-right: 0;
		padding-bottom: 40px;
		text-align: center;
	}

	.blogs-home {
		padding: 30px 0;
	}

	.subscribe .container .main-content {
		padding: 30px 30px;
		text-align: center;
	}

	.subscribe h2 {
		padding-bottom: 10px;
	}

	.subscribe p {
		padding-bottom: 10px;
	}

	.theme h5 {
		font-size: 22px;
		padding-bottom: 10px;
	}

	.theme .col1,
	.theme .col2,
	.theme .col3 {
		padding-bottom: 30px;
	}

	.theme .col4,
	.theme .col5,
	.theme .col6 {
		padding-top: 30px;
	}

	.testimonial_slider_2 #controls {
		margin: 10px 0;
	}

	.another h2 {
		font-size: 16px;
	}

	.another {
		padding-top: 110px;
		padding-bottom: 60px;
	}

	#about-us .image {
		height: 200px;
	}

	.portfolio {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.portfolio h3 {
		font-size: 26px;
		padding-bottom: 30px;
	}

	.services .image {
		margin-bottom: 20px;
	}

	.support .form-control,
	.support select {
		height: 45px;
	}

	.support textarea.form-control {
		height: 200px;
	}

	.support .btn-primary,
	.support .btn-primary:not(:disabled):not(.disabled):active {
		float: none;
	}

	.support {
		padding-bottom: 50px;
	}

	.support select,
	.support .form-control {
		margin-bottom: 0;
	}

	.support h3 {
		font-size: 22px;
		padding-bottom: 25px;
	}

	.contact-Page .form-control,
	.contact-Page select {
		height: 45px;
	}

	.contact-Page textarea.form-control {
		height: 200px;
	}

	.contact-Page .btn-primary,
	.contact-Page .btn-primary:not(:disabled):not(.disabled):active {
		float: none;
	}

	.contact-Page {
		padding-bottom: 50px;
	}

	.contact-Page select,
	.contact-Page .form-control {
		margin-bottom: 0;
	}

	.contact-Page h3 {
		font-size: 20px;
		padding-bottom: 10px;
	}

	.blog-page .blogs-home .box-1 h2,
	.blogs-home .box-1 p {
		text-align: center;
	}

	.blog-page .blogs-home p {
		font-size: 13px;
		margin-bottom: 0;
	}

	.blog-page .blogs-home .box-1 {
		border-right: none;
		padding-right: 0;
		padding-bottom: 40px;
		text-align: center;
	}

	.blog-page .blogs-home {
		padding: 30px 0;
	}

	.blog-page .blogs-home h2 {
		font-size: 24px;
		padding-bottom: 8px;
	}

	.blog-page .blogs-home .blog-list .bottom-details {
		width: 100%;
		margin-left: 0;
		margin-top: 8px;
		padding: 0;
	}

	.blog-page .blogs-home .blog-list .bottom-details a {
		font-size: 12px;
		letter-spacing: 0.5px;
	}

	#blog-single .main-content {
		margin: 0;
		padding: 0;
		margin-top: 20px;
	}

	#blog-single .main-heading h2 {
		font-size: 18px;
		line-height: 26px;
	}

	.inner-contant {
		padding-top: 25px;
	}

	#blog-single .spl-pg {
		width: 86%;
		font-size: 16px;
	}

	#blog-single .blog-list .bottom-details a {
		font-size: 12px;
		letter-spacing: 0.5px;
	}

	#blog-single p {
		line-height: 25px;
		padding-bottom: 0;
	}

	#blog-single .heading3 h2,
	#blog-single .post h2,
	#blog-single .comment-box h2 {
		font-size: 22px;
	}

	#blog-single .more-blog {
		padding-bottom: 20px;
	}

	#blog-single .post .col1 p,
	#blog-single .post .col2 p {
		padding-right: 0;
	}

	#blog-single .comment-box form .btn-primary {
		font-size: 12px;
		letter-spacing: 0.5px;
		padding: 12px 30px;
	}

	.subscribe .btn-outline-secondary,
	.subscribe .btn-outline-secondary:not(:disabled):not(.disabled):active {
		padding: 15px 50px;
	}
}

/*== 767px Media Queries Styles ==*/

@media screen and (max-width: 767px) {
	.navbar-dark .navbar-nav .hidden {
		display: none;
	}

	.navbar-dark ul li {
		display: inline-block;
		padding: 5px 0px;
	}
}

/*== 425px Media Queries Styles ==*/

@media screen and (max-width: 425px) {
	.jumbotron {
		text-align: center;
	}

	.jumbotron .btn-primary {
		margin: 15px 0;
	}

	.jumbotron span {
		font-size: 18px;
	}

	.jumbotron h2 {
		font-size: 12px;
		text-align: center;
		letter-spacing: 0.5px;
	}

	.jumbotron h1 {
		font-size: 24px;
	}

	.jumbotron .form-group {
		margin-bottom: 0;
	}

	.jumbotron .form-control,
	.jumbotron select {
		margin-bottom: 7px;
	}

	.jumbotron .btn-primary {
		float: none;
	}

	.theme {
		padding-bottom: 20px;
	}

	.theme hr,
	.theme .col1 img,
	.theme .col2 img,
	.theme .col3 img,
	.theme .col4 img,
	.theme .col5 img,
	.theme .col6 img {
		display: none;
	}

	.about-home img {
		height: 250px;
	}

	.about-home .main-content {
		padding: 15px 15px 0;
		text-align: center;
	}

	.blogs-home p {
		font-size: 12px;
	}

	.blogs-home .blog-list .bottom-details a {
		font-size: 12px;
		letter-spacing: 0.5px;
	}

	.author_2 h3 {
		font-size: 12px;
	}

	.subscribe .form-control,
	.subscribe .input-group-append,
	.subscribe .btn-outline-secondary {
		width: 100%;
	}

	.subscribe .form-control,
	.subscribe .btn-outline-secondary {
		padding: 10px 15px;
		margin-bottom: 8px;
	}

	.subscribe h2 {
		font-size: 18px;
	}

	.subscribe .btn-outline-secondary {
		font-size: 13px;
	}

	.subscribe p {
		font-size: 12px;
	}

	footer ul li:after {
		content: "|";
		font-size: 15px;
		font-weight: 400;
		color: #ffffff;
		padding: 0 10px;
		width: 100%;
	}

	footer ul li {
		font-size: 12px;
		padding: 0;
	}

	footer p {
		font-size: 12px;
	}

	.another h1 {
		font-size: 26px;
	}

	.another h2 {
		font-size: 13px;
	}

	#about-us h3 {
		font-size: 26px;
	}

	#about-us p {
		padding-bottom: 20px;
	}

	#about-us {
		padding-bottom: 50px;
	}

	.portfolio h3 {
		font-size: 20px;
	}

	.portfolio .figure .figure-img {
		height: 200px;
	}

	.services h3 {
		font-size: 20px;
		letter-spacing: -1px;
	}

	.services h2 {
		font-size: 22px;
		padding-bottom: 25px;
	}

	.services .inner-content {
		padding: 30px 0;
	}

	.support .form-group {
		margin-bottom: 0;
	}

	.support select,
	.support .form-control {
		margin-bottom: 5px;
	}

	.support .btn-primary,
	.support .btn-primary:not(:disabled):not(.disabled):active {
		font-size: 12px;
		height: 45px;
	}

	.support {
		padding-bottom: 0;
	}

	.support .part-left,
	.support .part-right {
		text-align: center;
	}

	.contact-Page .form-group {
		margin-bottom: 0;
	}

	.contact-Page select,
	.contact-Page .form-control {
		margin-bottom: 5px;
	}

	.contact-Page .btn-primary,
	.contact-Page .btn-primary:not(:disabled):not(.disabled):active {
		font-size: 12px;
		height: 45px;
	}

	.contact-Page {
		padding-bottom: 0;
	}

	.contact-Page .part-left h3,
	.contact-Page .part-right h3 {
		text-align: center;
	}

	.blog-page .blogs-home p {
		font-size: 12px;
	}

	.blog-page .blogs-home .blog-list .bottom-details a {
		font-size: 12px;
		letter-spacing: 0.5px;
	}

	.blog-page .blogs-home .blog-list .bottom-details {
		width: calc(100% - 50px);
		margin-left: 25px;
		margin-top: -30px;
		padding: 25px;
	}

	#blog-single .heading4 {
		padding-bottom: 20px;
		font-size: 22px;
	}

	#blog-single {
		padding-top: 30px;
	}

	#blog-single figure .image {
		height: 200px;
	}

	#blog-single .main-heading h2 {
		font-size: 16px;
	}

	#blog-single h4 {
		font-size: 13px;
		letter-spacing: 0.5px;
		line-height: 60px;
	}

	#blog-single p {
		font-size: 13px;
	}

	#blog-single .spl-pg {
		width: 100%;
		font-size: 14px;
		padding-bottom: 20px;
	}

	#blog-single .heading3 h2 {
		padding-right: 0;
	}

	#blog-single .blog-list .image img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}

	#blog-single .blog-list {
		padding-bottom: 40px;
	}

	#blog-single .comment-box form input {
		height: 40px;
		border-radius: 0;
		margin-bottom: 10px;
	}

	#blog-single .comment-box form textarea {
		padding: 14px 10px;
		height: 200px;
	}

	#blog-single .post .col1 p,
	#blog-single .post .col2 p {
		padding: 20px 20px;
		margin-bottom: 25px;
	}

	.jumbotron .form-control,
	.jumbotron select {
		height: 45px;
	}

	.selectdiv:after {
		height: 44px;
	}
}

/*== 375px Media Queries Styles ==*/

@media screen and (max-width: 375px) {
	.jumbotron h1 {
		font-size: 20px;
		text-align: left;
	}

	.jumbotron h2 {
		font-size: 12px;
		padding-right: 100px;
		text-align: left;
		line-height: 20px;
	}

	.jumbotron .form-control,
	.jumbotron select {
		height: 40px;
	}

	.jumbotron span {
		font-size: 16px;
	}

	.theme .heading {
		font-size: 20px;
		line-height: 20px;
	}

	.about-home .fa {
		font-size: 34px;
	}

	.about-home h3 {
		font-size: 22px;
	}

	.testimonial h4 {
		font-size: 20px;
		padding-bottom: 15px;
	}

	.blogs-home .blog-list .bottom-details .post-details {
		padding: 10px 0;
	}

	.another h1 {
		font-size: 21px;
	}

	.another h2 {
		font-size: 12px;
	}

	#about-us h3 {
		font-size: 22px;
	}

	#about-us p {
		line-height: 22px
	}

	.services h2 {
		font-size: 20px;
	}

	.services h3 {
		padding-bottom: 20px;
	}

	.services p {
		font-size: 12px;
		line-height: 22px;
	}

	.blog-page .blogs-home .blog-list .bottom-details .post-details {
		padding: 10px 0;
	}

	.blog-page .blogs-home h2 {
		font-size: 22px;
		padding-bottom: 5px;
	}

	.blog-page .blogs-home .more-button .btn-primary,
	.blog-page .blogs-home .more-button .btn-secondary {
		margin: 0 5px;
	}

	#blog-single .heading3 h2,
	#blog-single .post h2,
	#blog-single .comment-box h2 {
		font-size: 18px;
		padding-bottom: 25px;
	}
}